*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Titillium", sans-serif;
  width: 100%;
  height: 100%;
}

.done{
  
  background-color: rgba(31, 180, 194, 0.267);
}

#date{
  font-size: .8rem;
  padding-left: .6rem;
  
}

.container{
  background-color: rgb(251, 251, 251);
  max-width: 800px;
  height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 7px 10px 25px -17px rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


#task-title{
  margin-top: 1.5rem;
}

.collection{
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  

}
.li-item{
  display: flex;
  justify-content: space-between;
  margin: .5rem 0 1rem 0;
  width: 100%;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: .4rem;
}

.date-li{
 
  margin-left: 80%;
  font-size: .6rem;
  margin-top: .5rem;
  
}

.li-item:hover{
  background-color: rgba(0,0,0,.02)
}
.li-item a{
  display: flex;
 
  color: rgb(255, 181, 43);
  font-size: 1.2rem;
  font-weight: 700;

}

.btn{
width: 6rem;
height: 2.5rem;
border: none;
outline: none;
border-radius: 5px;
color: whitesmoke;
box-shadow: 12px 10px 25px -17px rgb(0, 0, 0);
}
#add-task{
  background-color: rgba(0, 107, 121, 0.342);
}
#add-task:hover{
  background-color: #fff;
  color: #333;
}
.clear-tasks{
  background-color: rgb(49, 49, 49);
  width: 7rem;
}
.btn:hover{
  background-color: #fff;
  color: #333;
}


input{
  padding-left: .6rem;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  border-radius: 3px;
  box-shadow: 4px 10px 20px -20px rgb(0, 0, 0);
}



/* modal */
.modal, .modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  text-align: center;
  margin: 10% auto;
  position: relative;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.modal2, .modal, .x, .x1{
 position: absolute;
 right: 5px;
 top: -10px;
 z-index: 1000;
 cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

